.btn.btn-round {
  border-radius: 24px;
  height: 48px;
  width: 48px;
}

.btn.btn-rounded {
  border-radius: 24px;
  height: 48px;
}

.btn-rounded .form-check-input {
  margin-top: 0.2rem;
}

.cursor {
  animation: cursor-blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-right: 2px solid #aaa;
  display: inline-block;
  height: 19px;
  margin-top: 2px;
  padding-left: 2px;
  position: absolute;
}

@keyframes cursor-blink {
  0% {
    border-right-color: #aaa;
  }

  50% {
    border-right-color: transparent;
  }

  0% {
    border-right-color: #aaa;
  }
}
